#section4 {
color: white;
height: 621px;

}
.plrx_enable {
background-image: url("../../../uploads/2017/09/bkgpic_bogrim.png");
/* Set a specific height */
min-height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.section-heading {
margin-bottom: 4%;
}
#section4 .circle1 {
margin-bottom: 0%!important;
width: 100px;
height: 100px;
border-radius: 50%;
display: inline-block;
background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: 1px solid #f7b733;
float: right;
}
#section4 .circle2 {
margin-bottom: 0%!important;
width: 100px;
height: 100px;
border-radius: 50%;
display: inline-block;
background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: 1px solid #f7b733;
float: right;
}
#section4 .circle3 {
margin-bottom: 0%!important;
width: 100px;
height: 100px;
border-radius: 50%;
display: inline-block;
background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: 1px solid #f7b733;
float: right;
}
#section4 .service-heading {
display: inline-block;
float: right;
margin-bottom: 8%;
margin-top: 3%;
margin-right: 6%;
font-size: 178%;
width: 60%;
color: white;
text-shadow: 2px 2px 12px #000000;
}
#section4 .sevice-col-wrapper {
margin-bottom: -4%!important;
}
#section4 .circle1 i {
margin-top: 35%;
margin-right: 20%;
font-size: -webkit-xxx-large;
}
#section4 .circle2 i {
margin-top: 35%;
margin-right: 13%;
font-size: -webkit-xxx-large;
}
#section4 .circle3 i {
margin-top: 35%;
margin-right: 13%;
font-size: -webkit-xxx-large;
}
#section4 img {
position: absolute;
opacity: 0.76;
width: 100%;
height: 620px;
}
